<div class="clearfix vertical-align" id="pageHeader" data-0="opacity:1; background-position:50% 0px;" data-75-top-center="opacity:0; background-position:50% -100px;"></div>

<div class="clearfix vertical-align" id="tag" data-0="opacity[outCubic]:0;" data-top-top="opacity[outCubic]:1;">
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
				<p>Arquitectura</p>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
				<button class="btn btn-md btn-default" id="imageButton">Catalogo Completo</button>
			</div>
</div>

<div id="firstImage" data-0="opacity[outCubic]:0; background-position:50% -300px;" data-top-bottom="opacity[outCubic]:1; background-position:50% 200px;">
</div>


<div class="clearfix vertical-align" id="tag" data-0="opacity[outCubic]:0;" data-top-top="opacity[outCubic]:1;">
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
				<p>Retail</p>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
				<button class="btn btn-md btn-default" id="imageButton">Catalogo Completo</button>
			</div>
</div>

<div id="secondImage" data-20-bottom-top="opacity[outCubic]:0; background-position:50% -300px;" data-top-bottom="opacity[outCubic]:1; background-position:50% 200px;">
</div>

<div class="clearfix vertical-align" id="tag" data-0="opacity:0;" data-top-top="opacity:1;">
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
				<p>Interior</p>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
				<button class="btn btn-md btn-default" id="imageButton">Catalogo Completo</button>
			</div>
</div>

<div id="thirdImage" data-100-center-top="opacity:0; background-position:50% -800px;" data--50-top-top="opacity:1; background-position:50% 50px;" data--100-top-center="opacity:0;">
</div>

<div class="clearfix vertical-align" id="tag" data-0="opacity:0;" data-top-top="opacity:1;">
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
				<p>Diseño Industrial</p>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
				<button class="btn btn-md btn-default" id="imageButton">Catalogo Completo</button>
			</div>
</div>

<div id="fourthImage" data-100-center-top="opacity:0; background-position:50% -800px;" data--50-top-top="opacity:1; background-position:50% 50px;" data--100-top-center="opacity:0;">
</div>
	
<div id="social" class="row vertical-align" data-bottom-top="opacity:0;" data--125-bottom-top="opacity:1;">
	<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
		<%= image_tag("facebook.png", :alt => "Facebook", class: "img-responsive center-block" ) %>
	</div>
	<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
		<%= image_tag("twitter.png", :alt => "Twitter", class: "img-responsive center-block") %>
	</div>
	<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
		<%= image_tag("linkedin.png", :alt => "LinkedIn", class: "img-responsive center-block") %>
	</div>
	<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
		<%= image_tag("instagram.png", :alt => "Instagram", class: "img-responsive center-block") %>
	</div>
	<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
		<%= image_tag("pinterest.png", :alt => "Pinterest", class: "img-responsive center-block") %>
	</div>
	<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
		<%= image_tag("email.png", :alt => "Email", class: "img-responsive center-block") %>
	</div>
</div>

	